.pd-dropdown {
    float: left;
    overflow: hidden;
  }
  
  
  .pd-dropdown-menu {
    display: none;
    position: absolute;
    background-color: #DBBAA0;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
  }
  .pd-dropdown-menu a{
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .pd-dropdown:hover .pd-dropdown-menu{
      display:block;
  }
  .pd-dropdown-menu a:hover {
    border-radius: 5px;
    background-color: #8F715A ;
  }