.primary {
    background-color: #dbbaa0;
}
.primary-light {
    background-color: #ffe6d4;
}
.primary-dark {
    background-color: #8f715a;
}
.secondary {
    background-color: #3a808a;
}
.secondary-light {
    background-color: #95d3db;
}
.base {
    background-color: #fff6f4;
}
.primary-blur-inside {
    padding: 0.75em;
    box-shadow: inset 0px 0px 0.75em 0.75em #dbbaa0;
    border-radius: inherit;
}
.primary-light-blur {
    box-shadow: 0px 0px 0.75em 0.75em #ffe6d4;
}
.image-card {
    box-shadow: 0px 0.1em 0.5em 0.1em #8f715a;
    border-radius: 0.5em;
    height: fit-content;
}
.btn-primary {
    background-color: #3a808a;
    border-color: #3a808a;
}
.btn-primary:hover {
    background-color: #95d3db;
    border-color: #3a808a;
}
.font-border {
    color:#3a808a;
    text-shadow: 
        -2px 2px 0px #95d3db,
        2px 2px 0px #95d3db,
        2px -2px 0px #95d3db,
        -2px -2px 0px #95d3db,
        -3px 0px 0px #95d3db,
        0px 3px 0px #95d3db,
        3px 0px 0px #95d3db,
        0px -3px 0px #95d3db;
}